<div id="<%= dom_id event %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= event.タイトル %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= event.説明 %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= event.開催日 %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Holder:</strong>
    <%= event.主催者 %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Team:</strong>
    <%= event.対応部署 %>
  </p>
</div>
